body {
  font-family: 'Roboto', sans-serif;
}
body .page-container {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100vw;
}
body .page-container .page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 4em;
}
body .page-container .page .grid {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: [settings] 35% [separator] 5% [list] 60%;
}
body .page-container .page .grid .settings .setting-container {
  margin-bottom: 1.4em;
}
body .page-container .page .grid .settings .setting-container input {
  box-sizing: border-box;
  max-width: 70%;
  padding: 0.2em 0;
  border: none;
  font-size: 2em;
  margin-bottom: 0.1em;
  transition: background-color 0.5s;
}
body .page-container .page .grid .settings .setting-container input:focus {
  outline: none;
}
body .page-container .page .grid .error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bold;
}
body .page-container .page .grid .list {
  overflow: scroll;
}
body .page-container .page .grid .list .data--container {
  box-sizing: border-box;
  width: 100%;
  padding: 1.2em;
  margin-bottom: 1em;
  border-left: 8px solid black;
  background-color: lightblue;
}
body .page-container .page .grid .list .data--container:hover {
  background-color: lightyellow;
  transition: background-color 0.5s;
}
body .page-container .page .grid .list .data--container:hover .data--sort {
  color: black;
}
body .page-container .page .grid .list .data--container .data--sort {
  color: white;
}
body .page-container .footer {
  position: fixed;
  left: 0;
  width: 100vw;
  bottom: 0;
  padding: 1em 0;
  text-align: center;
  color: grey;
}
